<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Group SocketIO</title>
		<script src="jquery-3.6.0.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script src="xulychatgroup.js"></script>
		<link rel="stylesheet" type="text/css" href="chatgroup.css" />
	</head>
	<body>
		<h3>Hello!</h3>
		<br />
		<input type="text" id="txtRoom" placeholder="Enter name room" />
		<button id="btnCreate">Create Room</button>
	</body>
</html>
