body {
	box-sizing: border-box;
}

.main-rooms {
	display: flex;
	margin-top: 10px;
}

.list-rooms {
	height: 600px;
	width: 300px;
	border: 1px solid gray;
	margin: 10px;
}

.list-rooms h3 {
	text-align: center;
	margin: 5px;
}

.list-rooms h4 {
	margin: 5px;
	color: tomato;
}

.list-name-room {
	padding: 5px;
}

.list-name-room p {
	margin: 5px;
	font-weight: bold;
}

.chat-rooms {
	height: 600px;
	width: 350px;
	border: 1px solid gray;
	margin: 10px;
}

.chat-rooms h3 {
	text-align: center;
	margin: 5px;
}

.line-message {
	font-weight: bold;
	margin: 5px;
}

.list-message {
	height: calc(100% - 90px);
	width: 100%;
}

.area-chat #txtMessage {
	width: calc(100% - 70px);
	height: 25px;
	margin: 0px 5px;
}

.area-chat #btnSend {
	height: 30px;
}
